.main {
  height: 100%;

  .top {
    flex-grow: 1;

    .top_left {
      border-right: 1px solid black;
      width: 25%;
      height: 100%;

      .draggable_item_target {
        height: 50%;
        border-bottom: 1px solid black;

        &.is_over {
          .crafting_drop {
            border: 1px solid red;
          }
        }

        .crafting_drop {
          width: 40px;
          height: 40px;
          border: 1px solid black;
          margin: auto;
        }
      }
    }

    .preview {
      flex-grow: 1;
      border-right: 1px solid black;
    }

    .top_right {
      .materials {
        border-bottom: 1px solid black;
        flex-grow: 1;
      }

      .inventory_container {
        background: darkgray;

        .inventory {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

          .draggable_item, .draggable_item_placeholder {
            width: 40px;
            height: 40px;
            background: grey;
            border: 1px solid black;
  
            &.is_dragging {
              border: 1px solid red;
            }
          }
        }
      }
    }
  }

  .main_portrait_container {
    border-top: 1px solid black;
    padding: 20px;
    
    .battle_character {
      margin-left: 20px;
    }
  }
}
